# Configuración del Servidor Express
PORT=8000

# Credenciales de The Factory HKA (TFHKA)
TFHKA_USUARIO=TuUsuarioDePruebas
TFHKA_CLAVE=TuClaveDePruebas

# URL Base del ambiente (Demo o Producción)
# Demo: https://demoemisionv2.thefactoryhka.com.ve
# Producción: https://emisionv2.thefactoryhka.com.ve
TFHKA_BASE_URL=https://demoemisionv2.thefactoryhka.com.ve
