# Configuración del Servidor Express
PORT=8000

# Credenciales de The Factory HKA (TFHKA)
TFHKA_USUARIO=TuUsuarioDePruebas
TFHKA_CLAVE=TuClaveDePruebas

# URL Base del ambiente (Demo o Producción)
# Demo: https://demoemisionv2.thefactoryhka.com.ve
# Producción: https://emisionv2.thefactoryhka.com.ve
TFHKA_BASE_URL=https://demoemisionv2.thefactoryhka.com.ve

# Seguridad del Microservicio (API Key compartida con Scriptcase)
API_KEY=tu_clave_secreta_api_key_aqui

# Correo para pruebas en ambiente de desarrollo (opcional)
DEV_INTERCEPT_EMAIL=pruebas@tudominio.com
